<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<link href="static/css/theme.css" rel="stylesheet">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" id="welcome_jumbotron">
    <h1>Witaj studencie :)</h1>
    <p>Wypełnij ankietę</p>
  </div>
<!--
  <div class="page-header">
    <h1>Zaloguj się jako:</h1>
  </div>
  <p>
    <a href="/patient_login" class="btn btn-primary" role="button">Przyszła mama</a>
    <a href="/obstetrician_login" class="btn btn-primary" role="button">Lekarz</a>
  </p>
-->

{% endblock %}

